:root {
    --primary-color: #172755;
    --secondary-color: #8794BA;
    --button-color: #EF2A82;
    --font-family: "Roboto, sans-serif;"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*Header Section*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-left: 2.9rem;
    padding-right: 2.9rem;
}

menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}

menu li {
    list-style-type: none;
    
}

li a, article a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
}


.brand-area .company-logo {
    color: var(--button-color);


}
article.user-area{
    display: flex;
    gap: 3rem;
}

.user-area .user-item {
    border: 1px solid var(--secondary-color);
    padding: 5px 25px;
    border-radius: 1.8rem;
}

header.dark-background {
    background-color: var(--primary-color);
}

/*Header Section*/

.hero {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:10rem;
    background-image: url("/images/background-top.png");
    background-repeat: no-repeat;
    padding-bottom: 10rem;
}

.hero-text p{
    color: var(--secondary-color);
    font-size: 1.8rem;
    
}

h1, button {
    color: white;
}

h1 {
    font-size: 5rem;
    padding-top: 16rem;
    margin-bottom: 1.5rem;
}


button {
    font-size: 1.8rem;
    color: var(--secondary-color)
}

article.hero-text {
    max-width: 55rem;

}

.hero-img {
    padding-top: 10rem;
}

#try-free-btn {
    padding: 1rem 8rem;
    margin-top: 4.9rem;
    background-color: var(--button-color);
    color: white;
    border-radius: 6.8rem;
    border: none;
}

/*Main Features Section*/

.main-feat-section {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-feat-text h2 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 3rem;
}

.main-feat-text p {
    font-size: 1.8rem;
    max-width: 106rem;
    color: var(--secondary-color);
    padding-bottom: 5rem;
 }

 /*Illustration Subsection*/

.illustration-subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

figure {
    text-align: center;
    width: 35rem;
}

figure h4 {
    font-weight: bold;
    padding-top: 2.7rem;
}
.illustration-subsection figure figcaption {
    font-size: 1.6rem;
    color: var(--secondary-color);
}



 /*Services Section*/

.services-section {
     display: flex;
     flex-direction: column;
     margin-top: 13rem;
     padding-left: 20rem;
     padding-right: 20rem;
    }
    
.service-subsection {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 8rem;

    }
 .services-section article h5 {
    font-size: 4rem;
}

.services-section p {
    font-size: 1.8rem;
    color: var(--secondary-color);
}

.service-subsection article {
    border: 1px solid black;
}
.service-subsection h5, .service-subsection p {
    width: 45rem;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}
/*
#main-features-heading
 {
    position: relative;
    margin: 300px auto 30px;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    
}

#main-feat-para {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 1060px;
    height: 53px;
}

#feat-grid {
    margin: 80px auto;
    text-align: center;
}


.feature-name {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.feat-icon {
    margin-bottom: 26px;
}

.feat-para {
    height: 44px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; 
}

#screenshot-section {
    margin-top: 130px;
    margin-left: 100px;
    margin-right: 100px;
}

.screenshot {
    display: block;
    margin: auto;
    width: 80%;
    padding: 20px;
    
}

.background-bottom {
    display:block;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.pricing-plans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    gap:30px;
    border-bottom: 1px solid #2A407C;
}

.pricing-plans .plan {
        position: relative;
        border-radius: 10px;
        background-color: none;
        width: 340px;
        padding: 20px;
      }
      

footer {
    position: relative;
    z-index:0;
    font-weight: 500;
    text-align: center;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

#bottom-section {
    padding: 20px 20px;
    background-image: url(/images/background-bottom.png);
    background-repeat: no-repeat;
    padding-top: 300px;

}

