:root {
    --primary-color: #172755;
    --secondary-color: #8794BA;
}

body {
    width: 1600px;
}

.first-background {
    height: 798px;
    width: 1600px;
    background-color: var(--primary-color);
}

.background-logo {
    position: absolute;
    z-index: 1;
    width: 660px;
    height: 660px;

}

.company-logo {
    position: absolute;
    margin-top: 50px;
    margin-left: 210px;
    margin-right: 1350px;
}

.company-name {
    position: absolute;
    margin-top: 62.01px;
    margin-left: 262.63px;
}

.menu {
    position: absolute;
    margin-left: 476px;
    margin-top: 60px;
    list-style-type: none;
}

.menu-item, .user-item{
    text-decoration: none;
    color: var(--secondary-color);
}

.menu-item {
    margin-right: 36px;
}

.last-of-menu {
    margin-right: 100px;
}

.sign-in {
    margin-left: 40px;
    margin-right: 30px;
}

.sign-up-btn {
    border: 1px solid var(--secondary-color);
    padding: 10px 40px;
    border-radius: 25px;
    margin-right: 170px;
}
li {
    display: inline;
    line-height: 19px;
}

